body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: rgb(175, 247, 104);
    color: white;
    padding: 15px;
}

nav {
    background-color: lightgray;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

ul, ol {
    list-style-position: inside; 
    text-align: center;          
}


main {
    flex: 3;
    padding: 10px;
}

aside {
    flex: 1;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #e0e0e0;
}

footer {
    background-color: rgb(175, 247, 104);
    color: white;
    padding: 10px;
    margin-top: 10px;
}
