body { font-family: Verdana; margin:0; }
header {
    background: #7f909c;
    text-align: center;
    padding: 15px;
}

article {
    padding: 15px;
    border-bottom: 1px solid #bbb;
}

footer {
    background: #174206;
    color:white;
    text-align:center;
    padding: 10px;
}
a { margin:15px; display:inline-block; }

.contenedor {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #db6ce6;
  padding: 15px 30px;
  z-index: 800;
  border-bottom-right-radius: 20px;
}