/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    background: #e5e5e5;
    padding: 20px;
}

/* Título centrado */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Lista centrada y con un ancho fijo */
.ranking {
    width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

/* Estilo de cada elemento de la lista */
.ranking li {
    background: rgb(249, 250, 165);
    margin: 10px 0;
    padding: 12px 15px;
    border-radius: 5px;
    list-style-position: inside;
    transition: 0.3s;
}

/* El elemento Nº1 destacado */
.destacado {
    background: rgb(233, 164, 3);
    color: rgb(242, 5, 5);
}

/* Efecto hover para hacer la lista interactiva */
.ranking li:hover {
    background: rgb(3, 184, 145);
    cursor: pointer;
}
