body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f7;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;               /* Centrar */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;       /* Borde sencillo */
}

fieldset {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #999;
    box-sizing: border-box;
}

/* Radio y checkbox en línea */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* BOTÓN */
button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4a78f0;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #335fcc;
}

